// Variables

$white: #FFF;
$dark: #000;
$red: #D80027;
$special: green;
$ghost: #313131;

$transition-for-hover: transform .2s;
$hover-effect:  scale(1.1);

$breakpoint1: 699px;
$breakpoint2: 2699px;

@mixin clean-button {
	background: none;
	border: none;
	font-size: 1em;
	line-height: inherit;
}

@mixin alert {
	color: $red;
	font-weight: bold;
}

@mixin noselect {
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


// .shake {
//   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
//   backface-visibility: hidden;
//   perspective: 1000px;
//   transform: translate3d(0, 0, 0);


// 	@keyframes shake {
// 	  10%, 90% {
// 	    transform: translate3d(-1px, 0, 0);
// 	  }
	  
// 	  20%, 80% {
// 	    transform: translate3d(2px, 0, 0);
// 	  }

// 	  30%, 50%, 70% {
// 	    transform: translate3d(-4px, 0, 0);
// 	  }

// 	  40%, 60% {
// 	    transform: translate3d(4px, 0, 0);
// 	  }
// }
// }