@import 'common';

.enemy {
	cursor: pointer;
	width: 100%;

	background: none;
	border: 0;
	cursor: pointer;
	max-width: 100%;
	overflow: hidden;
	position: relative;

	&__damage-counter {
		animation: .5s pop 1;
		color: $special;
		visibility: hidden;
		position: absolute;
		display: inline-block;
		display: block;
		text-align: center;
		font-weight: bold;
		@include noselect;
	
		font-size: 20px;
		font-size: calc(14px + var(--enlarge-font-size, 10px));
	}

	@keyframes pop {
		from {
			display: block;
			visibility: visible;
		}
		to {
			transform: translateY(-80px);
			visibility: hidden;
		}
	}

	overflow: hidden;

	&__image {
		max-width: 60%;
	}

	&--next &__image {
		animation: into 3.5s linear;
		animation-timing-function: ease-in;
	}

	@keyframes into {
		70%,
		71%
		{
			transform: scale(17.5) translateY(25px);
		}

		71% {
			visibility: hidden;
		}

		72% {
			visibility: hidden;
			transform: scale(0.01);
		}

		73% {
			visibility: visible;
		}

		100% {
			transform: scale(1);
		}

	}
}

.enemy-life {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 20px;
	margin: 10px 0;

	div {
		width: 7px;
		height: 5px;
		border-radius: 50%;
		margin: 0 10px;
		background-color: $red;
	}
}

.enemy-number {
	position: absolute;
	top: 5%;
	right: 10%;
	width: auto;
	color: $red;
	font-weight: bold;
	font-size: 30px;
}