@import 'common';

.item {
	$r: &;
	$size: 100px;
	width: $size;
	height: $size;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	margin-bottom: -1px;
	margin-right: -1px;
	transition: $transition-for-hover;
	padding: #{$size*0.075} 0;
	border: 1px solid $dark;
	box-sizing: border-box;


	&--used {
		border: 4px solid $special;
		z-index: 1;
	}

	&__image {
		width: 65%;
		height: 65%;
		margin: 0 auto;
		display: block;
	}

	&__caption {
		text-align: center;

		&--melee {
			color: $dark;
		}

		&--shield {
			color: $dark;
		}

		&--potion {
			color: $red;
		}
	}

	&--on {
		cursor: pointer;
		&:hover #{$r}__image {
			transform: $hover-effect;
		}
	}

	&--off {
		filter: grayscale(100%);
	}

	&--flex {
		visibility: hidden;
		height: 1px;
	}
}

