@import 'common';

.mercenary {

	border: none;
	background: none;
	cursor: pointer;
	transition:	$transition-for-hover;
	margin: 0;

	&:hover &__portrait {
		transform: $hover-effect;
	}

	&__portrait {
		width: 80px;
		height: 80px;
	}

}