@import 'common';

.mercenary {
	$r: &;
	border: none;
	background: none;
	transition:	$transition-for-hover;
	margin: 0;


	&__portrait {
		$size: 60px;
		width: $size;
		height: $size;
	}

	&--on {
		cursor: pointer;
		&:hover #{$r}__portrait {
			transform: $hover-effect;
		}
	}

	&--off {
		img {
			filter: grayscale(100%);
		}
	}
}