@import 'common';

.mercenary {
	$r: &;
	border: none;
	background: none;
	cursor: pointer;
	transition:	$transition-for-hover;
	margin: 0;

	&:hover &__portrait {
		transform: $hover-effect;
	}

	&__portrait {
		$size: 60px;
		width: $size;
		height: $size;
	}

	&--disabled {
		img {
			filter: grayscale(100%);
		}
	}
}