@import 'common';

.stats {
	width: 100%;

	&__numbers {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: .5em 0;

	}

	&__stat {
		// margin: 0 1.5em;
		text-align: center;
	}
}
